<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-container">
      {{>header}}
      <p>This app gives you a brief description of the weather across the world. All you need to do is enter the name of the location.</p>
    </div>
   
    

    {{>footer}}
  </body>
</html>
